@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');
@import 'tailwindcss';
@plugin "daisyui" {
   themes: light --default, dark;
}



* {
  box-sizing: border-box;
  font-family: "Heebo", sans-serif;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}
