@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');
@import 'tailwindcss';
@plugin "daisyui" {
  themes: light --default, dyingfish;
}

@plugin "daisyui/theme" {
  name: "dyingfish";
  default: true;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(14% 0.005 285.823);
  --color-base-200: oklch(21% 0.006 285.885);
  --color-base-300: oklch(27% 0.006 286.033);
  --color-base-content: oklch(96% 0.001 286.375);
  --color-primary: oklch(68% 0.169 237.323);
  --color-primary-content: oklch(97% 0.013 17.38);
  --color-secondary: oklch(62% 0.194 149.214);
  --color-secondary-content: oklch(98% 0.031 120.757);
  --color-accent: oklch(60% 0.25 292.717);
  --color-accent-content: oklch(97% 0.021 166.113);
  --color-neutral: oklch(27% 0.006 286.033);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(62% 0.214 259.815);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(72% 0.219 149.579);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(76% 0.188 70.08);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.3125rem;
  --size-field: 0.3125rem;
  --border: 1.5px;
  --depth: 0;
  --noise: 0;
}


* {
  box-sizing: border-box;
  font-family: "Heebo", sans-serif;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}
